@layer base {
  h1 {
    @apply font-primary font-bold text-[36px];
  }
  h2 {
    @apply font-secondary font-bold text-[32px];
  }
  h3 {
    @apply font-secondary font-semibold text-[28px];
  }
  h4 {
    @apply font-primary font-semibold text-[24px];
  }
  p {
    @apply font-secondary font-normal text-[16px];
  }
  svg {
    @apply stroke-2;
  }
}
