@layer components {
  /* TEXT  */
  .p-small {
    @apply font-secondary font-normal text-[14px];
  }
  .caption {
    @apply font-secondary font-medium text-[12px];
  }

  /* SPACES  */
  .suroudedSpace_X16_Y24 {
    @apply px-6 py-4;
  }

  /* POSITION  */
  .centerChild {
    @apply flex items-center justify-center;
  }
  .centerBetween {
    @apply flex items-center justify-between;
  }

  /* COMPONENTS  */
  /* Icones  */
  .iconBox {
    @apply h-6 w-6;
  }
  /* Buttons  */
  .pillBtn {
    @apply font-secondary font-semibold text-base text-primary-btn tracking-wider bg-bg-primary-btn rounded-4xl px-6 py-4 cursor-pointer;
  }
  .pillBtn.bgfull {
    @apply text-primary-btn bg-bg-primary-btn;
  }
  .pillBtn.bgempty {
    @apply bg-transparent text-secondary-btn border border-border-secondary-btn px-4 py-2;
  }
  .roundBtn {
    @apply h-fit w-fit border rounded-4xl p-2 cursor-pointer;
  }
  .roundBtn.base {
    @apply bg-bg-secondary-btn border border-border-secondary-btn text-primary-icon;
  }
  .roundBtn.accent {
    @apply bg-bg-primary-btn border-border-accent-btn text-secondary-icon;
  }
  .navBtn {
    @apply flex flex-col justify-center items-center font-secondary font-medium text-[12px] cursor-pointer;
  }
  .navBtn.base {
    @apply text-secondary-btn cursor-pointer;
  }
  .navBtn.accent {
    @apply h-12.5 w-12.5 bg-bg-primary-btn text-primary-btn rounded-lg p-2;
  }
  .navBtn.activeLink {
    @apply text-accent-btn;
  }
  /* Badges  */
  .infobadge {
    @apply flex items-center text-secondary-btn text-nowrap  rounded-full border border-border-secondary-btn px-6 py-2 gap-2;
  }
  .infobadge.base {
    @apply bg-bg-secondary-btn;
  }
  .infobadge.bgempty {
    @apply bg-transparent;
  }
  .infobadge.active {
    @apply bg-bg-primary-btn;
  }
}
