@layer components {
  /* GENERAL  */

  /* BACKGROUND  */
  .bg-card-gradient {
    @apply bg-gradient-to-t 
           from-[var(--color-gradient-light)] 
           to-[var(--color-gradient-dark)];
  }
  /* TEXT  */
  .p-small {
    @apply font-secondary font-normal text-[14px];
  }
  .caption {
    @apply font-secondary font-medium text-[12px];
  }

  /* SPACES  */
  .suroudedSpace_X16_Y24 {
    @apply px-6 py-4;
  }
  .suroudedSpace_X24_YT32 {
    @apply px-6 pt-8;
  }
  .fixeSafeSpace {
    @apply pt-20.5 pb-21.25;
  }

  /* POSITION  */
  .flexColumn {
    @apply flex flex-col;
  }
  .flexFullHeight {
    @apply flex flex-col flex-1;
  }
  .centerChild {
    @apply flex items-center justify-center;
  }
  .centerBetween {
    @apply flex items-center justify-between;
  }

  /* COMPONENTS  */
  /* Icones  */
  .iconBox {
    @apply h-6 w-6;
  }
  /* Buttons  */
  .pillBtn {
    @apply font-secondary font-semibold text-base text-primary-btn tracking-wider bg-bg-primary-btn rounded-4xl p-4 cursor-pointer;
  }
  .pillBtn.bgfull {
    @apply text-primary-btn bg-bg-primary-btn;
  }
  .pillBtn.bgempty {
    @apply bg-transparent text-secondary-btn border border-border-secondary-btn px-4 py-2;
  }
  .roundBtn {
    @apply h-fit w-fit border rounded-4xl p-2 cursor-pointer;
  }
  .roundBtn.base {
    @apply bg-bg-secondary-btn border border-border-secondary-btn text-primary-icon;
  }
  .roundBtn.accent {
    @apply bg-bg-primary-btn border-border-accent-btn text-secondary-icon;
  }
  .navBtn {
    @apply flex flex-col justify-center items-center font-secondary font-medium text-[12px] cursor-pointer;
  }
  .navBtn.base {
    @apply text-secondary-btn cursor-pointer;
  }
  .navBtn.accent {
    @apply h-12.5 w-12.5 bg-bg-primary-btn text-primary-btn rounded-lg p-2;
  }
  .navBtn.activeLink {
    @apply text-accent-btn;
  }
  .linkBtn {
    @apply gap-2 cursor-pointer;
  }
  .linkBtn.base {
    @apply text-secondary-btn;
  }
  .linkBtn.accent {
    @apply text-accent-btn;
  }
  /* Badges  */
  .infobadge {
    @apply flex items-center text-secondary-btn text-nowrap  rounded-full border border-border-secondary-btn px-6 py-2 gap-2 cursor-pointer;
  }
  .infobadge.base {
    @apply bg-bg-secondary-btn;
  }
  .infobadge.bgempty {
    @apply bg-transparent;
  }
  .infobadge.active {
    @apply bg-bg-primary-btn text-primary-btn border-border-accent-btn;
  }
  /* ANIMATIONS  */
  @keyframes fadeout {
    0% {
      opacity: 1;
      visibility: visible;
    }
    60% {
      opacity: 1;
      visibility: visible;
      transform: scale(1);
    }
    100% {
      opacity: 0;
      visibility: hidden;
      transform: scale(0.6);
    }
  }
  .loadedFadeOut {
    animation: fadeout 3.5s ease-in-out forwards;
  }

  @keyframes showPopup {
    0% {
      opacity: 0;
      transform: translateY(-100%);
    }
    10% {
      opacity: 1;
      transform: translateY(15%);
    }
    20% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 1;
      transform: translateY(0);
    }
    100% {
      opacity: 0;
      transform: translateY(-100%);
    }
  }
  .translatePopup {
    animation: showPopup 2s ease-in-out forwards;
  }
}
