/* DARK MODE  */

:root {
  /* General  */
  --background: #072242;
  /* Cards  */
  --bg-card: #12335c;
  /* --bg-gradient-card: #12335C; */
  --border-card: #475569;
  /* Text  */
  --font-primary: "Playfair Display", serif;
  --font-secondary: "Plus Jakarta Sans", sans-serif;
  --color-primary: #f8fafc;
  --color-secondary: #94a3b8;
  --color-accent: #e5a13b;
  /* Icons  */
  --color-primary-icon: #94a3b8;
  --color-secondary-icon: #12335c;
  --color-accent-icon: #c69344;
  /* Buttons  */
  --bg-primary-btn: #e5a13b;
  --bg-secondary-btn: #072242;
  --color-primary-btn: #072242;
  --color-secondary-btn: #94a3b8;
  --color-accent-btn: #e5a13b;
  --color-border-secondary-btn: #94a3b8;
  --color-border-accent-btn: #e5a13b;
  /* Inputs  */
  --bg-input: #12335c;
  --bg-focus: #2e5a8d;
  --color-primary-input: #94a3b8;
  --color-border-input: #94a3b8;
  --color-border-focus: #f8fafc;
  --color-checked: #c69344;
  /* --color-border-warning:#F8FAFC; */
  /* --color-border-valid:#F8FAFC; */
  --color-placeholder: #94a3b8;
  /* Shadow  */
  --shadow-color: #041529;
  --shadow-top: 0 -10px 60px 10px var(--shadow-color);
  --shadow-bottom: 0 5px 50px 0 var(--shadow-color);
  /* Spacing  */
  --spacing-xs: 4px;
  --spacing-sm: 8px;
  --spacing-md: 16px;
  --spacing-lg: 24px;
  --spacing-xl: 32px;
  --spacing-xxl: 48px;
  /* Rounded  */
  --rounded-xs: 1px;
  --rounded-sm: 5px;
  --rounded-md: 8px;
  --rounded-lg: 10px;
  --rounded-xl: 12px;
  --rounded-2xl: 15px;
  --rounded-3xl: 20px;
  --rounded-full: 50px;
}

/* LIGHT MODE  */

.light {
  /* General  */
  --background: #f0ebe0;
  /* Cards  */
  --bg-card: #cec4b5;
  /* --bg-gradient-card: #12335C; */
  --border-card: #5d5141;
  /* Text  */
  --color-primary: #42392e;
  --color-secondary: #97846c;
  --color-accent: #bd8c5a;
  /* Icons  */
  --color-primary-icon: #e3e4e5;
  --color-secondary-icon: #cec4b5;
  --color-accent-icon: #9c734a;
  /* Buttons  */
  --bg-primary-btn: #bd8c5a;
  --bg-secondary-btn: #b6a68f;
  --color-primary-btn: #f1f1f2;
  --color-secondary-btn: #42392e;
  --color-accent-btn: #9c734a;
  --color-border-secondary-btn: #42392e;
  --color-border-accent-btn: #bd8c5a;
  /* Inputs  */
  --bg-input: #cec4b5;
  --bg-focus: #97846c;
  --color-primary-input: #7a6a56;
  --color-border-input: #42392e;
  --color-border-focus: #f5f2ed;
  --color-checked: #bd8c5a;
  /* --color-border-warning:#F8FAFC; */
  /* --color-border-valid:#F8FAFC; */
  --color-placeholder: #7a6a56;
  /* Shadow  */
  --shadow-color: #402e1e4d;
  --shadow-top: 0 -10px 60px 10px var(--shadow-color);
  --shadow-bottom: 0 5px 50px 0 var(--shadow-color);
}

@theme inline {
  /* General  */
  --color-background: var(--background);
  /* Cards  */
  --color-card-background: var(--bg-card);
  --color-card-border: var(--border-card);
  /* Text  */
  --font-primary: var(--font-primary);
  --font-secondary: var(--font-secondary);
  --color-primary: var(--color-primary);
  --color-secondary: var(--color-secondary);
  --color-accent: var(--color-accent);
  /* Icons  */
  --color-primary-icon: var(--color-primary-icon);
  --color-secondary-icon: var(--color-secondary-icon);
  --color-accent-icon: var(--color-accent-icon);
  /* Buttons  */
  --color-bg-primary-btn: var(--bg-primary-btn);
  --color-bg-secondary-btn: var(--bg-secondary-btn);
  --color-primary-btn: var(--color-primary-btn);
  --color-secondary-btn: var(--color-secondary-btn);
  --color-accent-btn: var(--color-accent-btn);
  --color-border-secondary-btn: var(--color-border-secondary-btn);
  --color-border-accent-btn: var(--color-border-accent-btn);
  /* Inputs  */
  --color-bg-input: var(--bg-input);
  --color-bg-focus: var(--bg-focus);
  --color-primary-input: var(--color-primary-input);
  --color-border-input: var(--color-border-input);
  --color-border-focus: var(--color-border-focus);
  --color-placeholder: var(--color-placeholder);
  --color-checked: var(--color-checked);
  /* Shadow  */
  --color-shadow-color: var(--shadow-color);
  --shadow-top: var(--shadow-top);
  --shadow-bottom: var(--shadow-bottom);
  /* Spacing  */
  --spacing-xs: var(--spacing-xs);
  --spacing-sm: var(--spacing-sm);
  --spacing-md: var(--spacing-md);
  --spacing-lg: var(--spacing-lg);
  --spacing-xl: var(--spacing-xl);
  --spacing-xxl: var(--spacing-xxl);
  /* Rounded  */
  --radius-xs: var(--rounded-xs);
  --radius-sm: var(--rounded-sm);
  --radius-md: var(--rounded-md);
  --radius-lg: var(--rounded-lg);
  --radius-xl: var(--rounded-xl);
  --radius-2xl: var(--rounded-2xl);
  --radius-3xl: var(--rounded-3xl);
  --radius-full: var(--rounded-full);
}
